<h2> NACIONAL </h2>
<div *ngFor="let pedido of pedidos">
  <div [ngStyle]="{'background': pedido.stock == 0 ? 'red' : 'orange'}">
    <div *ngIf="pedido.tipo == 'nacional'">
      <app-pedidosya [nombre]="pedido.nombre" [stock]="pedido.stock" [precio]="pedido.precio" [tipo]="pedido.tipo"> </app-pedidosya>
      <div *ngIf="pedido.stock > 0">
        <button > PEDIDO </button>
      </div>
    </div>
    
  </div>
</div>
<h2> INTERNACIONALES </h2>
<div *ngFor="let pedido of pedidos">
  <div [ngStyle]="{'background': pedido.stock == 0 ? 'red' : 'orange'}">
    <div *ngIf="pedido.tipo == 'internacional'">
      <app-pedidosya [nombre]="pedido.nombre" [stock]="pedido.stock" [precio]="pedido.precio" [tipo]="pedido.tipo"> </app-pedidosya>
      <div *ngIf="pedido.stock > 0">
        <button > PEDIDO </button>
      </div>
    </div>
  </div>
</div>

