
  <h2>Resources happy</h2>
  <!--<app-test age="3" (clickAge)="saveClickChild($event)"></app-test>
  <app-test *ngIf="sw" name="ricardo"></app-test>
  <button (click)="sw = false;"> Change SW </button>
  
  <app-t0807 age="21" name="Camila" description="UPB Student" (clickDes)="saveJInfo($event)" ></app-t0807>


<div *ngFor="let person of persons">
  <div [ngStyle]="{'background': person.enable ? 'yellow' : 'red'}">
    <persona [name]="person.name"
    [lastname]="person.lastname"
    [age]="person.age"
    [enable]="person.enable">
    </persona>
  </div>
</div>

<app-prod1> </app-prod1>
<app-prod3> </app-prod3>

<app-ad1></app-ad1>

<h3> PIPES </h3>
<p> {{ persons | json }}</p>
<p> {{ 'camila' | uppercase }}</p>
<p> {{ 'CAMILA' | lowercase }}</p>
<p> {{ '08/08/2020' | date: "MM/dd/yy" }}</p>

VALUE: <input type='text' [(ngModel)]="auxNumber">
EXPONENT: <input type='text' [(ngModel)]="auxExpo">
<p> {{ 'Camila' | test }}</p>
<p> {{ auxNumber | expo:auxExpo : 'Hola' }} </p>-->

<p> PURE {{numbers | pure }} </p>
<p> IMPURE {{numbers | impure }} </p>

<button (click)="numbers.push(4)"> Add </button>

<div [appNgColor]="'green'" [secondcolor]=""'red'"> 
  Cami
</div>