<app-header></app-header>

<mat-drawer-container autosize>
    <mat-drawer #drawer style="width: 300px; height: 100%;" mode="side" [position]="'end'"  [opened]="true">
      <app-form [receive]="receive"> </app-form>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        ADD
      </button>
      <button type="button" mat-button (click)="onReport()">
        REPORT
      </button>
    </div>
  
    
    <h2 style="background: lightBlue; padding: 10px;"> HOT </h2>
    <div class="row">
      <div *ngFor="let product of hot"
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="padding:50px; display:flex;">
        <app-card (editPage)="saveEvent($event)" name="{{product.name}}" size="{{product.size | size }}" urlImage="{{product.urlImage}}" stock="{{product.stock}} " type="{{product.type}}" [product]="product"> </app-card>
      </div>
    </div>
    <h2 style="background: lightBlue; padding: 10px;"> COLD </h2>
    <div class="row">
      <div *ngFor="let product of cold"
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="padding:50px; display:flex;">
          <app-card (editPage)="saveEvent($event)" name="{{product.name}}" size="{{product.size | size}}" urlImage="{{product.urlImage}}" 
          stock="{{product.stock}}" type="{{product.type}}" [product]="product" > </app-card>
      </div>
    </div>

</mat-drawer-container>