  
<p>login works!</p>
<!--<div style="display: flex; flex-direction: column;">
    <form (ngSubmit)="onLogin2(form)" #form="ngForm">
        <input type="text" name="username" ngModel>
        <input type="password" name="password" ngModel>
        <button type="submit"> ENVIAR </button>
    </form>
</div>-->

<!--<button routerLink="/pages">LOGIN</button>-->

<input type="text" required minlength="3" maxlength="5" ngModel #name="ngModel">
<div *ngIf="name.invalid && (name.touched || name.dirty)" class="alert alert-danger">
    <div *ngIf="name.errors.required">
        name
    </div>
    <div *ngIf="name.errors.minlength">
        4 characteres 
    </div>
    <div *ngIf="name.errors.maxlength">
        5 max
    </div>
</div>
