  <h3> New component </h3>
  <p>Entrada AGE: {{ age }} </p>
  <p>Entrada NAME: {{name}} </p>
  <p>Entrada DESCRIPTION: {{description }} </p>
  <button (click)="onClickSave()"> Save </button>
  <input type="text" [(ngModel)]= "user">
  <p> USER: {{ user }} </p> 

  <div *ngFor="let person of persons; let i = index">
    <p> {{person}} - {{i}} </p>
  </div>

  <div [ngSwitch]="sw">
    <p *ngSwitchCase="3"> El valor es 3 </p>
    <p *ngSwitchCase="2"> El valor es 2 </p>
    <p *ngSwitchDefault> No es ninguno </p>  </div> 

<button (click)="auxColor='yellow'"> amarillo </button>
<button (click)="auxColor='green'"> verde </button>
<button (click)="auxColor='red'"> rojo </button>
  <div [ngStyle]="{'border':'1px solid '+ auxColor, 'color':auxColor}">
    personas
  </div>

  <div [style.color]="auxColor">
    autos
  </div>